*,
*:after,
*:before{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html{
     font-size: 62.5%;
     overflow-x: hidden;
}
body{
     font-family: 'Poppins', sans-serif;
}
h1{
     font-size: 2.6rem;
}
h2{
     font-size: 4.8rem;
}
h3{
     font-size: 3rem;
}
h4,
h5{
     font-size: 2.8rem;
}
li,
button,
p,
input,
label{
     font-size: 2rem;
}

a{
     text-decoration: none;
     color: white;
}
ul{
     list-style: none;
}
button{
     padding: 2rem 4rem;
     border: none;
     background-color: #254975;
     color: white;
     font-weight: bolder;
     cursor: pointer;
     transition: background .5s ease-in-out;
}
button:hover{
     background: #131c27;
}

/* Nav Section with Hero */
.main-head{
     background-color: #131c27;
     color: white;
     position: fixed;
     top: 0;
     right: 0;
     width: 100%;
     z-index: 1;
     transition: opacity .5s ease-out;
}
.navbar{
     display: flex;
     min-height: 10vh;
     padding: 2rem 0;
     justify-content: center;
     align-items: center;
     width: 90%;
     margin: auto;
     flex-wrap: wrap;
}
.navbar nav{
     flex: 1 1 27.5rem;
}
#logo{
     flex: 2 1 27.5rem;
     font-family: "Pattaya", sans-serif;
     font-weight: 400;
}

nav ul{
     display: flex;
     justify-content: space-around;
}
.hero{
     min-height: 100vh;
     padding-top: 15vh;
     background: linear-gradient(rgba(0,0,0, .6), transparent),url('./img/landing-page.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;  

     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
}
.hero h2{
     margin-bottom: 3rem;
}
.hero h3{
     margin-bottom: 2rem;
}

/* Locations Section */
.locations{
     min-height: 100vh;
     background: linear-gradient(rgba(0,0,0, .6), transparent ), url("./img/new-york-page.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;

     display: flex;
     position: relative;
     overflow: hidden;
}
.locations-head{
     width: 90%;
     margin: auto;    
}
.locations-head h2{
     margin: 2rem 0;
     text-decoration: underline;
     /*! Eto es para aumentar el grosor del underline */
     text-decoration-thickness: 0.5rem;
     color: black;

}
.locations-head h3{
     margin: 4rem 0;
     background: linear-gradient(to right ,#f0f1f3, #faf0ee);
     /*! Lo que hace esta propiedad es definirle el alcance de nuestr4o background como border-box, content-box o el mismo texto */
     background-clip: text;
     /*! Especifica el color de relleno del texto */
     -webkit-text-fill-color: transparent;
}
.cloud{
     position: absolute;
     top: 0;
     right: 0;
     height: 60vh;
}
/*! Para alternate por lo menos necesitas 2 rondas del keyframe, de from a to, luego de to a from */
.moving-cloud-1{
     animation: cloudAnimation 3s infinite alternate ease-in-out;
}
/*! El color que se ve en la nube 2 es por el linear gradient que pusiste de fondo del tag de la secccion padre osea esta detras.*/
.moving-cloud-2{
     top: 15%;
     z-index: -1;
     animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}

/*KeyFrames*/
@keyframes cloudAnimation {
     from {
          transform: translate(10%, -10%);
     }

     to {
          transform: translate(0%, 0%);
     }

     /* 0%{
          background: lightblue;
     }
     25%{
          background: rgb(35,98,119);
     }
     100%{
          background: rgb(99, 35, 119);
     } */
}



/* Benefits Section */
.benefits-head{
     background: #343c44;
     min-height: 30vh;
     padding: 3rem 1rem;
     color: white;
     text-align: center;
}
.benefits-head h3{
     margin: 1rem 0;
}
.cards{
     padding: 1rem 0;
     width: 90%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     min-height: 70vh;
     align-items: center;
} 
.card{
     flex: 1 1 25rem;
     margin: 2rem 3rem;
     text-align: center;
     box-shadow: 0px 10px 10px rgba(0, 0, 0, .1), 0px 20px 20px rgba(0, 0, 0, .1);
}
.card-icon{
     background: #27394e;
     padding: 2rem 0;
}
.card img{
     width: 20%;
}
.card-body{
     padding: 2rem;
}
.card h4{
     margin-bottom: 1rem;
}
.card p{
     line-height: 1.5;
}

/* Contact Section */
.contact{
     min-height: 100vh;
     background: linear-gradient(rgba(0,0,0,.6), transparent), url("./img/contact-mountain.png");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     display: flex; 
}
.form-wrapper{
     width: 60%;
     margin: auto;
     background: rgba(19, 28, 39, 0.8);
     border-radius: 20px;
     text-align: center;
     color: white;
     overflow: hidden;
}
.form-head{
     padding: 2rem 0;
}
.form{
     padding: 0rem 2rem;
}
.field{
     margin: 2rem 0;
}

.form-wrapper label{
     margin: 0rem 2rem;
}
.form-wrapper input{
     padding: 1rem;
     width: 80%;
}
.form-wrapper button{
     width: 100%;
     margin-top: 3rem;
}

 button:focus{
     outline: .5rem solid cornflowerblue;
 }

 /* Footer Section */
 footer{
      background: rgba(19, 28, 39, 1);
      color: white;
 }
 .footer-wrapper{
      display: flex;
      width: 90%;
      margin: auto;
      min-height: 10vh ;
      align-items: center;
      flex-wrap: wrap;
 }
 .footer-wrapper h5{
      flex: 1 1 27.5rem;
      padding: 2rem;
 }
 .footer-wrapper ul{
      flex: 1 1 27.5rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
 }
 


/* Media Queries */
@media screen and (max-width: 700px){

     html {
          font-size: 45%;
     }
     .form-wrapper {
      width: 80%;
     }
     #logo{
          padding: 2rem 0;
     }
     .locations{
          padding-top: 10vh;
     }
    
     .locations-head h3 {
           background: rgba(19,28,39, .8);
           padding: 1rem;
           color: white;
          -webkit-text-fill-color: white;
     }   
}

@media screen and (max-width: 450px){
     .footer-wrapper h5 {
          text-align: center;
     }
     #logo {
          text-align: center;
     }
}
