*,
*:after,
*:before{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html{
     font-size: 62.5%;
}
body{
     font-family: 'Poppins', sans-serif;
}
h1{
     font-size: 2.6rem;
}
h2{
     font-size: 4.8rem;
}
h3{
     font-size: 3rem;
     font-weight: normal ;
}
h4,
h5{
     font-size: 2.8rem;
}
li,
button,
label,
input,
p{
     font-size: 2rem;
}

a{
     text-decoration: none;
     color: white;
}
ul{
     list-style: none;
}
button{
     padding: 2rem 6rem;
     background: #4c6e97;
     border: none;
     color: white;
     font-size: 1.8rem;
     cursor: pointer;
     font-weight: bold;
     transition: background 0.5s ease-in-out;
     margin-bottom: 2rem;
}
button:hover{
     background: #27394e;
}

/* Nav Section with Hero */
.main-head{
     background-color: #131c27;
     color: white;
     position: sticky;
     top: 0;
     z-index: 1;
}
nav{
     display: flex;
     padding: 2rem;
     min-height: 10vh;
     width: 90%;
     margin: auto;
     flex-wrap: wrap;
     align-items: center;
}
nav ul{
     flex: 1 1 27.5rem;
     display: flex;
     justify-content: space-around;
}
#logo{
     flex: 2 1 27.5rem;
     font-family: "Pattaya", sans-serif;
     font-weight: 400;
}
.hero{
     min-height: 90vh;
     background: linear-gradient(rgba(0,0,0, .8), transparent),url('./img/landing-page.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
}
.hero h3{
     padding: 4rem;
}

/* Locations Section */
#locations{
     min-height: 100vh;
     background: linear-gradient(rgba(0,0,0, .5), transparent ), url("./img/new-york-page.png");
     background-position: center;
     background-size: cover;
     display: flex;
     position: relative;
     overflow: hidden;
}
.locations-head{
     width: 90%;
     margin: auto;    
}
.locations-head h2{
     padding: 1rem 0;
     text-decoration: underline;
     /*! Eto es para aumentar el grosor del underline */
     text-decoration-thickness: 0.5rem;
}
.locations-head h3{
     padding: 4rem 0;
     background: linear-gradient( #131c27, #663b34);
     /*! Lo que hace esta propiedad es definirle el alcance de nuestr4o background como border-box, content-box o el mismo texto */
     background-clip: text;
     /*! Especifica el color de relleno del texto */
     -webkit-text-fill-color: transparent;
}
.cloud{
     position: absolute;
     top: 0;
     right: 0;
     height: 60vh;
}
/*! Para alternate por lo menos necesitas 2 rondas del keyframe, xq el alternate lo toma al reves de 100 al 0% */
.moving-cloud-1{
     animation: cloudAnimation 3s infinite alternate ease-in-out;
}
/*! El color que se ve en la nuve 2 es por la opacidiad del background de la secccion osea esta detras , en cambio la priemra imagen esta por delante es por eso que se ve normal*/
.moving-cloud-2{
     top: 15%;
     z-index: -1;
     opacity: 0.5;
     animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}

/* Benefits Section */

.benefits-head{
     background: #343c44;
     padding: 3rem;
     min-height: 30vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;
     text-align: center;
}
.benefits-head h3{
     padding: 1rem;
}
.cards{
     width: 90%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     min-height: 70vh;
} 
.card{
     flex: 1 1 25rem;
     min-height: 35vh;
     margin: 2rem 5rem;
     text-align: center;
     box-shadow: 0px 10px 10px rgba(0, 0, 0, .1), 0px 20px 20px rgba(0, 0, 0, .1);
}
.card-icon{
     background: #27394e;
}
/*! Lo que ocurre aqui es que svg es diferente a un png poque no hace caos a un width 100%, po reso le bajas mucho */
.card img{
     margin: 2rem;
     width: 20%;
}
.card h4,
.card p{
     padding: 1rem;
}

/* Contact Section */
#contact{
     min-height: 100vh;
     background: linear-gradient(rgba(0,0,0,.8), transparent), url("./img/contact-mountain.png");
     /*! En este caso no lo pone center porque se ve feo asi que tienes que evaluar antes */
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
}
.form-wrapper{
     width: 60%;
     margin: auto;
     background: rgba(19, 28, 39, 0.8);
     border-radius: 20px;
     text-align: center;
     color: white;
     overflow: hidden;

}
.form-head{
     padding: 2rem;
}
.email-form,
.name-form{
     padding: 3rem;
}
.form-wrapper label{
     margin: 0rem 3rem;
}
.form-wrapper input{
     padding: 1rem;
     width: 80%;
}
.form-wrapper button{
     width: 100%;
     margin-bottom: 0;
     margin-top: 3rem;
 }

 /* Footer Section */
 footer{
      background: rgba(19, 28, 39, 1);
      color: white;
 }
 .footer-wrapper{
      display: flex;
      width: 90%;
      margin: auto;
      min-height: 10vh ;
      align-items: center;
      flex-wrap: wrap;
 }
 .footer-wrapper h5{
      flex: 1 1 27.5rem;
      padding: 2rem;
 }
 .footer-wrapper ul{
      flex: 1 1 27.5rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
 }
 /*KeyFrames*/
@keyframes cloudAnimation {
     from{  
          transform: translate(10%, -10%); 
     }
     to{
          transform: translate(0%, 0%);
     }
     /* 0%{
          background: lightblue;
     }
     25%{
          background: rgb(35,98,119);
     }
     100%{
          background: rgb(99, 35, 119);
     } */
}


/* Media Queries */
@media screen and (max-width: 700px){
     nav{
          text-align: center;
     }
     /* !Lo mejor no es poner un margin botton ni nada cuando esta en modo celular, lo mejor es poner un padding asi de simple sin una direccion por que de esta manera si podra centrarme con text-align*/
     #logo{
          padding: 2rem;
     }
     /* !Aqui lo que ocurre por el clip es que me hace background de todo para eso usamos lu otro  */
     .locations-head h3 {
          /*! herramienta para convertir hex a rgb*/
           background: rgba(19,28,39, .8);
           padding: 1rem;
          -webkit-text-fill-color: white;
     }
     html {
          font-size: 45%;
     }
     .form-wrapper{
          width: 80%;
     }
     .footer-wrapper {
         text-align: center;
     }
}

